# Ignore CSV files
*.csv

# Ignore log files
*.log

# Ignore JSON files
*.json

# Ignore text files
*.txt

# Ignore venv folder
venv/

# Ignore .venv folder
.venv/

myenv2/
myenv/

myenvv/

# Ignore bin directory
bin/

# Ignore Results directory
Results/

# Ignore Python bytecode files
__pycache__/

ta-lib-0.6.4/
# Ignore stocksList file
stocksList

# Ignore shell script files
*.sh

*.csv

*.jpg
*.jpeg
*.write_html